@using Audiences.ViewModels
@model IList<Audiences.ViewModels.ContactViewModel>

<h1>Contactos</h1>

<a asp-action="Create" class="btn btn-primary pull-right">Agregar</a>

<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th></th>
     </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
      
        
            
        
      
        
       
    }
    </tbody>
</table>